* {
  box-sizing: border-box;
}


#body {
  /* border: 100px black; */
  background-color: rgb(121, 121, 121);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* h1 {
  background-color: aqua;
  color:brown;
} */